@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="apple-touch-icon" sizes="76x76" href="public/image/apple-icon.png">
    <link rel="icon" type="image/png" href="public/image/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>SyncAppTest</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- CSS Files -->
    <link href="public/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="public/stylesheets/ui-dash.css?v=1.5.0" rel="stylesheet" />
</head>
<body class="">
<div class="wrapper ">
    <div class="sidebar" data-color="red">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
      -->
        <div class="logo">
            <text class="simple-text logo-mini">
                SyncAppTest
                <text class="simple-text logo-normal">
                    Jason
        </div>
        <div class="sidebar-wrapper" id="sidebar-wrapper">
            <ul class="nav">
                <li class="active " style="font-weight: bold;">
                    <a href="./index">
                        <i class="now-ui-icons design_app"></i>
                        <p>MailChimp Retriever</p>
                    </a>
                </li>
                <li>
                    <a href="./display">
                        <i class="now-ui-icons education_atom"></i>
                        <p>Contacts</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    @content
</div>
    <!--   Core JS Files   -->
    <script src="public/javascripts/core/jquery.min.js"></script>
    <script src="public/javascripts/popper.min.js"></script>
    <script src="public/javascripts/bootstrap.min.js"></script>
    <script src="public/javascripts/perfect-scrollbar.jquery.min.js"></script>
</body>
</html>